$white: #fff !default;
$red: red;
$font-size-dash: 0.875rem !default;
$font-size-base: $font-size-dash !default;
$font-size-xl: ($font-size-base * 1.428);
$font-weight-bold: 700 !default;
$black: #000 !default;
$default: #344675 !default;
$background-color:#171941;