<div class="content-brand-custom">

  <div class="row" *ngIf="slide" [@simpleFadeAnimation]="'in'">
    <div class="col-1 arrows-icons">
      <button mat-fab color="primary" (click)="changeBrand(REFRESH_BRAND.BACK)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="col-4 ">
      <div class="row text-center">
        <div class="time">{{seconds}}</div>
      </div>
      <div class="row text-center ">
        <img [src]="slide" alt="" srcset="" class="set-height border-img-custom">
      </div>
    </div>
    <!--<div class="d-block d-sm-none col-xs-1 col-sm-1 arrows-icons">
      <button mat-fab color="primary" aria-label="" (click)="changeBrand(REFRESH_BRAND.NEXT)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>-->
    <div class="col-6 title-brand">
      <h1>{{title_brand}}</h1>
      <br>
      <p>{{text}} </p>
    </div>
    <div class=" col-1 arrows-icons">
      <button mat-fab color="primary" aria-label="" (click)="changeBrand(REFRESH_BRAND.NEXT)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
