.content-brand-custom{
    padding-top: 20vh;
}

.set-height{
	max-height: 600px;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.time {
	// background-color: #FC5B2D;
	color: white;
    width: 25px;
    height: 20px;
    display: inline-block;
    border: 2px white;
    border-radius: 5px;
	border-style: outset;
	margin-top: auto;
	margin-bottom: auto;
	height: 30px;
}