.footer {
    height: 25.0em;
    h1 { 
        font-family: White-Pigeon;
    }
}



.center-title{
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
}

.max-height{
    height: 100%;
}

.list-group-item{
    background-color: unset !important;
    // border-bottom: 1px solid #ffffff;
    border-bottom-color: white;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}