<div class="content-page">
  <div class="row">
    <div class="col-8 text-center">
      <div class="row">
        <h1>¿ Quiénes Somos?</h1>
      </div>
      <div class="row ">
        <p>
              Somos un pequeño grupo de personas que vende diferentes productos en los que con gran variedad.
          Es decir puedes encontrar diferentes tipos de plantas, dulces, conservas, quesos, arreglos, pero por lo que más nos piden
          son nuestras bandejas para varias para festividades o días especiales para tus seres queridos.

          <br>
          Si te gustan nuestros productos favor recomendarnos, ¡Eso nos ayuda mucho! 🤩❤
        </p>
      </div>
    </div>
    <div>
        <div class="col-8 mx-auto">
            <img class="align-self-center" src="../../../assets/img/content/collage/collage.png" alt="">
        </div>
    </div>
  </div>
</div>
